.AddCard_Form {
    width: 100%;
}

.AddCard_Button {
    width: 100%;
    outline: none;
    padding: 15px;
    color: white;
    background-color: var(--color-primary-dark);
    border: none;
    cursor: pointer;
}

.AddCard_Button:disabled {
    color: #ccc;
    background: #ddd;
    cursor: not-allowed;
}

.AddCard_Button:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media(min-width: 600px){

    .AddCard_Form{
        width: 39%;
    }
  
}