.CardFinance {
    width: 90%;
    margin: auto;
    height: 500px;
}

.CardFinance_heading {
    display: flex;
    justify-content: space-between;   
}

.CardFinance h5 {
    
}

.CardFinance_Container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}