.Alert {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.Alert:not(:last-child){
    margin-bottom: .3rem;
}

.AlertMessage {
    margin-right: auto;
    padding: 0 .5rem;
}

.AlertClose {
    cursor: pointer;
    font-size: .9rem;
    font-weight: 600;
}

.Danger {
    border-left: 3px solid #d7385e;
}

.Success {
    border-left: 3px solid #81b214;
}

.Info {
    border-left: 3px solid #0278ae;
}

.Warning {
    border-left: 3px solid #fca652;
}