
/* Transactions Container */
.TransactionContainer {
    width: 85%;
    margin: auto;
    display: flex;
}

.Transaction_Info {
    flex: 0 0 30%;
    /* background-color: orangered; */
    margin-right: 1rem;
}

.Transaction_Detail {
    /* background-color: green; */
    flex: 1;
}
/* Transaction Container */




.Transaction_Info-total_balance {
    margin: 3rem 0;
    text-align: center;
}

.Transaction_Info-total_balance h2, 
.Transaction_Info-total_balance h1 {
    font-size: 1.8rem;
    font-weight: 400;
}

.Transaction_Info-inc,
.Transaction_Info-exp {
    box-shadow: 1px 1px 7px rgba(0,0,0,.3);
    padding: .2rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.Transaction_Info-inc h5, 
.Transaction_Info-inc h4,
.Transaction_Info-exp h5,
.Transaction_Info-exp h4 {
    font-size: 1rem;
    font-weight: 600;
}



/* Detail Form */
.Transaction_Detail-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 7px rgba(0,0,0,.3);
    border-radius: 10px;
}

.Transaction_Detail-form select, 
.Transaction_Detail-form input {
    outline: none;
    border: none;
    margin: 1rem;
}

.Transaction_Detail-form button {
    align-self: stretch;
    border: none;
    border-radius: inherit;
    width: 20%;
    cursor: pointer;
}
.Transaction_Detail-form button:focus {
    outline: none;
    font-weight: 900;
}

