.CardTransactionItem {
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-grey-light-2);
}
.CardTransactionItem:not(:last-child){
    margin-bottom: 2.5rem;
}

.TransactionItem h6 {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    font-weight: 600;
}
.TransactionItem p {
    font-size: .7rem;
    margin: 0;
    padding: 0;    
}

@media screen and (max-width: 680px) {
    .CardTransactionItem {
        padding-bottom: .5rem;
    }
    .TransactionItem h6 {
        font-size: .4rem;
    }
    .TransactionItem p {
        font-size: .4rem;
    }
}