.Btn {
    width: 100%;
    outline: none;
    padding: 10px;
    color: #000;
    background: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 2px;
    cursor: pointer;
}

.selected {
    border: 5px solid var(--color-primary-light);
}

