
/* Container */
.MeContainer {
    width: 100%;
    margin: auto;
    display: flex;
}

.CardList {
    flex: 0 0 70%;
    margin-right: auto;
    height: 100vh;
}

.CardTransaction {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    margin-top: -25px;
    /* flex: 1; */

    position: fixed;
    right: 0;
    width: 30%;
    overflow: auto;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .CardList {
        flex: 0 0 100%;
        /* display: none; */
    }
    .CardTransaction {
        display: none;
    }
}
