.CreditCard {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 5px;

    transition: 5s all;
}

.CreditCard_Icon_Sim {
    width: 45px;
    height: 30px;
    margin: 20px 0;
    border-radius: 8px;
    background-color: #b6963f;
}

.CreditCard_Number {
   font-size: 1.5em;
   font-family: ocr_a_std,sans-serif;
   text-shadow:-1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
   letter-spacing: 5px;
   white-space: nowrap;
   margin-bottom: 10px;
}

.CreditCard_Author {
  font-size: 16px;
  font-family: ocr_a_std,sans-serif;
  text-shadow:-1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
  letter-spacing: 3px;
  text-transform: uppercase;

}

.CreditCard_Logo div {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #334397;
    box-shadow:-2px 2px 0 rgba(255,255,255,.8);
    border-radius: 30px 0 30px 30px;
    transform: rotate(-65deg);
}

.CreditCard_Logo div > span {
    color: #ccc;
    display: block;
    width: inherit;
    font-size: 14px;
    height: inherit;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    transform: rotate(65deg);
}

.CreditCard_Logo div + span {
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    margin-left: 15px;
    text-transform: uppercase;
}

.Type_one {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.Type_two {
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.Type_three {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.Type_four {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.Type_five {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.Type_six {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.Text_white {
    color: white;
}

.Text_black {
    color: black;
}

@media only screen and (min-width: 100px) {
   
    .CreditCard_Number {
        font-size: .2rem;
    }

    .CreditCard_Author {
        font-size: 8px;
    }
}

@media only screen and (min-width: 350px) {
   
    .CreditCard_Number {
        font-size: .9rem;
    }

    .CreditCard_Author {
        font-size: 8px;
    }
}

@media only screen and (min-width: 411px) {
   
    .CreditCard_Number {
        font-size: .3rem;
    }

    .CreditCard_Author {
        font-size: 8px;
    }
}

@media(min-width: 500px){
    .CreditCard_Number {
        font-size: .4rem;
    }

    .CreditCard_Author {
        font-size: 10px;
    }
}

@media(min-width: 638px){
    .CreditCard {
        /* width: 100%; */
        /* padding: 0; */
    }

    .CreditCard {
        border-radius: 15px;
    }
    
    .CreditCard_Icon_Sim {
        width: 35px;
        height: 20px;
    }

    .CreditCard_Number {
        font-size: .9rem;
    }


    .CreditCard_Logo div {
        width: 40px;
        height: 40px;
      
    }

    .CreditCard_Logo div > span {
        font-size: 20px;
    }

    .CreditCard_Logo div + span {
        font-size: 10px;
    }
}

@media(min-width: 900px){
    .CreditCard {
        /* width: 32.5%;
        padding: 25px; */
    }

    .CreditCard_Icon_Sim {
        width: 45px;
        height: 30px;
    }

    .CreditCard_Number {
        font-size: 1vw;
    }

    .CreditCard_Logo div {
        width: 20px;
        height: 20px;
    }

    .CreditCard_Logo div > span {
        font-size: 10px;
    }


    .CreditCard_Logo div {
        font-size: 25vw;
    }

    .CreditCard_Logo div + span {
        font-size: 1.1vw;
    }

}

