
.Transaction_Detail {
    /* background-color: green; */
    flex: 1;
}
/* Transaction Container */


/* Detail Form */
.Transaction_Detail-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 7px rgba(0,0,0,.3);
    border-radius: 10px;
}

.Transaction_Detail-form select, 
.Transaction_Detail-form input {
    outline: none;
    border: none;
    margin: 1rem;
}

.Transaction_Detail-form button {
    align-self: stretch;
    border: none;
    border-radius: inherit;
    width: 20%;
    cursor: pointer;
}
.Transaction_Detail-form button:focus {
    outline: none;
    font-weight: 900;
}
.Transaction_Detail-form button:hover {
    background-color: var(--color-primary-light);
    color: #fff;
}

.Transaction_Detail-form button:disabled {
    color: #ccc;
    background: #ddd;
    cursor: not-allowed;
}

.Transaction_Detail-form button:not(:disabled) {
    animation: enable 0.3s linear;
    background-color: var(--color-primary-dark);
}

.LoadingIcon {
    height: 40px;
    width: 2rem;
    fill: black;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* End Detail Form */
